* {
  margin: 0; padding: 0;
}

#container {
  margin: 0 auto;
  text-align: center;
}

#received-emoticon {
  margin: 10px auto;
  background: #eee;
  width: 200px;
  height: 200px;
}

.emoticon {
  max-width: 128px;
  width: 25%;
  padding: 3%;
  opacity: 0.6;
  border-radius: 10px;
  float: left;
  -webkit-transition: all 0.1s ease-in-out;
  border: 2px solid transparent;
}

.emoticon:hover {
  opacity: 1;
}
.emoticon:active {
  -webkit-transform: scale(1.2);
}

.emoticon.selected {
  border-color: black;
}
