#container {
  margin: 0 auto;
}

#received-emoticon {
  margin: 0 auto;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  background: #eee;
}

.emoticon {
  width: 100px;
  padding: 14px;
  opacity: 0.6;
  border-radius: 10px;
  float: left;
  -webkit-transition: opacity 0.3s ease-in-out;
  border: 2px solid transparent;
}

.emoticon:hover {
  opacity: 1;
}

.emoticon.selected {
  border-color: black;
}
