* { box-sizing: border-box; }
body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#container {
  position: relative;
  margin: 3em auto;
  width: 400px;
  background: #eee;
  border: 1px solid #ddd;
}
header {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0.5em;
  background: #ccc;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
}

#history-wrap {
  min-height: 100px;
  max-height: 250px;
  overflow: scroll;
  margin-bottom: 1em;
}

#history {
  font-family: 'Inconsolata', fixed;
  min-height: 5em;
  padding-bottom: 1em;
}

#say {
  margin: 0.2em;
}

input { width: 100%; }
canvas { position: absolute; }

button#change-name {
  font-size: 10px;
  float: right;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding-top: 5em;
  text-align: center;
}

/* Button (from http://cssdeck.com/labs/large-pressable-css-button) */
.button {
  margin: 0 auto;
  display: inline-block;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

.button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ec528d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
  background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}
.button:hover span {
  background-color: #ec6a9c;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.button.disabled span { background-color: gray; color: gray; }
.button:hover.disabled span { text-shadow: inherit; box-shadow: none; }
.button:active.disabled span { -webkit-transform: inherit; }

